@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
    background: linear-gradient(90deg, #34d399, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .color {
    background-color: #fbf6e2;
  }
  